html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: #f0f0f0;
  overflow: hidden;
}

.dark body,
.dark #root,
.dark #root > div {
  background: #0D1117;
}

.dark .signUpContainer {
  background: #161B22;
}

.dark .signUpTitle {
  color: #fff;
}

.dark input {
  background: #161B22;
  color: #fff;
}

.dark .regLink {
  color: #b3b2b2;
}

.welcomeMessage {
  font-size: 1.9rem;
  margin-top: 0px;
}

.welcomeMessage span {
  font-size: 3.2rem;
}

.signupLogo {
  width: 130px;
  height: 130px;
  margin-top: 0px;
}

@media screen and (max-width: 500px) {
  .traffic-light {
    display: none;
  }

  .welcomeMessage .welcomeText {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}
